.hamburger{
    /* margin: 8px 8px; */
    width: 300px;
}

.hamburger button{
    font-size: 1.5rem;
}

@media screen and (max-width: 500px){
    .hamburger{
        width: 160px;
    }
}

.provider-btn{
    margin: 5px 0px;
}

.profile-avatar{
    width: 125px;
    height: 125px;
    font-size: 3.5rem;

}

.profile-avatar img{
    height: 100% !important;
    width: 100% !important;
}

.room-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room-time{
    font-size: 0.8rem;
}

.dashboard-btn:hover{
    padding-left: 5rem;
    transition: all .3s ease-in-out;
}

.chat-top, .chat-middle, .chat-bottom{
    margin: 0;
    padding: 0;
}

.chat-top, .chat-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat-top{
    height: 60px;
}

.chat-bottom{
    height: 65px;
}

.chat-middle{
    height: calc(100vh - 60px - 65px);
}

.chat-top-main{
    margin: 0;
    padding: 19px 0px;
    border-radius: 0 !important;
    text-align: left;
    padding-left: 10px;
}

.rs-col{
    padding: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.room-avatar-top{
    margin: -9px 0px;
}