.hamburger{
    /* margin: 8px 8px; */
    width: 300px;
}

.hamburger button{
    font-size: 1.5rem;
}

@media screen and (max-width: 500px){
    .hamburger{
        width: 160px;
    }
}

.provider-btn{
    margin: 5px 0px;
}

.profile-avatar{
    width: 125px;
    height: 125px;
    font-size: 3.5rem;

}

.profile-avatar img{
    height: 100% !important;
    width: 100% !important;
}

.room-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room-time{
    font-size: 0.8rem;
}

.dashboard-btn:hover{
    padding-left: 5rem;
    transition: all .3s ease-in-out;
}