.text-center{
    text-align: center;
}

.mt{
    margin-top: 14rem;
}

.mlr-10{
    margin: 0px 10px;
}

.mb-5{
    margin-bottom: 5px;
}

.text-bold{
    font-weight: bold;
}

.h-100{
    height: 100%;
}

.hv-100{
    height: 98.2vh;
}

.font-125{
    font-size: 1.25rem;
}

.m-5{
    margin: 15px 0px;
}

.mt-5{
    margin-top: 15px;
}

.mlr-3{
    margin: 0px 3px;
}

.d-none{
    display: none;
}

.cursor-pointer{
    cursor: pointer;
}

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.p-10{
    padding: 10px;
}

.align-center{
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.text-right{
    text-align: right;
}